venv/
__pycache__/
*.pyc
*.pyo
cache/
debug_output/
profiles/
notes/
.env
.git/
node_modules/
TUBETL_DATA/
ingestion_logs/
taxdump.tar.gz
.etetoolkit/
scripts_and_artifacts/archive/

/*.cif
/*.gz
/*.pkl
/*.pdb