**/venv/** 
venv

*.pyc
**__pycache__/
*.pyo
*.pyd



*.pdb
**debug**
cache/**

grid**
profiles**
*.cif
*/**.pyc

**/q_*.md
q_*.md

**env
.env


*fasta

*.gz

notes
notes/**

**/.DS_Store


TUBETL_DATA/**
TUBETL_DATA

ingestion_logs/*


node_modules/**
node_modules


*pkl
